# Jekyll生成的文件
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Ruby环境文件
.ruby-version
.ruby-gemset

# 日志文件
*.log

# 临时文件
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IDE和编辑器文件
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.project
.classpath
.c9/
*.launch
.settings/
*.suo
*.user
*.userosscache
*.sln.docstates

# 系统文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/ 