<!-- 使用支持中文的giscus评论系统 -->
<div id="giscus-comments" style="display: block; position: static; margin-top: 20px; width: 100%;">
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.comments.utterances.repository }}"
    data-repo-id="R_kgDOLv2dEQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOLv2dEc4CdG8L"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div> 