<!-- Utterances comments -->
<div id="utterances-comments" class="utterances-container" style="display: block; position: static; margin-top: 20px; width: 100%;">
  <script src="https://utteranc.es/client.js"
    repo="{{ site.comments.utterances.repository }}"
    issue-term="{{ site.comments.utterances.issue_term | default: 'pathname' }}"
    {% if site.comments.utterances.label %}label="{{ site.comments.utterances.label }}"{% endif %}
    theme="{{ site.comments.utterances.theme | default: 'github-light' }}"
    crossorigin="anonymous"
    async>
  </script>
</div> 